* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: "Bebas Neue" !important;
}
/* width */
::-webkit-scrollbar {
  width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--bs-dark);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.bg-navbar {
  background-color: #161616;
}

#toggle span {
  color: #fff;
}

.logo {
  font-size: 18px;
}

.nav-item .nav-link:hover {
  content: "";
  border-bottom: 3px solid #4588d5;
  width: 100%;
  margin: auto;
  padding-bottom: 5px;
  margin-bottom: -8px;
  color: #fff;
  transition: all 500ms ease-out;
}

.navbar {
  height: 80px;
}

.navbar-nav {
  margin-top: 20px;
  padding-bottom: 20px;
}

.dropdown-item {
  font-family: "Poppins", sans-serif !important;
  text-transform: uppercase;
  font-weight: bold !important;
}

.dropdown .dropdown-menu li a {
  color: rgb(156, 156, 156) !important;
}

.dropdown-menu {
  background-color: #161616;
  line-height: 50px;
}

.dropdown .dropdown-menu li a:hover {
  content: "";
  border-bottom: 3px solid #4588d5;
  width: 100%;
  margin: auto;
  padding-bottom: 5px;
  margin-bottom: -8px;
  color: #fff;
  transition: all 500ms ease-out;
  background-color: #161616;
}

.navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  color: rgb(156, 156, 156) !important;
  font-weight: bold !important;
  font-family: "Poppins", sans-serif !important;
  font-size: 14px;
}

button {
  margin-top: 20px;
  background: none;
  font-family: "Roboto Mono" !important;
  text-transform: uppercase !important;
  font-size: 12px !important;
  letter-spacing: 2px;
  padding: 18px 36px;
}

/* navbar  */

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}
.close-btn {
  position: absolute;
  right: 30px;
  font-family: "Poppins", sans-serif !important;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 10;
  top: -2px;
  line-height: 80px;
}

@media (min-width: 900px) {
}
/* navbar end */
/* hero  */
.img-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.img-container img {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
.img-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #1b1b1b;
  opacity: 0.5;
}
.header {
  position: absolute;
  top: 30%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.header h1 {
  color: #fff;
  font-size: 120px !important;
}
.header h2 {
  color: #fff;
  font-size: 40px !important;
  font-family: "Poppins", sans-serif !important;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.5px;
  letter-spacing: 2px;
}
@media (max-width: 900px) {
  /* .img-container{
        height: 40vh;
    }
    .img-container img{
        height: 40vh;
    } */
  .header {
    top: 30%;
    left: 50%;
  }

  .header h1 {
    font-size: 60px !important;
    text-align: center;
  }
  .header h2 {
    font-size: 20px !important;
    text-align: center;
  }
}

/* hero end */
.content {
  position: absolute;
  width: 100%;
}
/* about */
.about {
  padding: 100px 0;
  margin-top: 100vh;
}
.about-img img {
  min-width: 100px;
  object-fit: contain;
}
.about-heading {
  color: black;
  text-transform: uppercase;
}
.about-heading h1 {
  position: absolute;
  letter-spacing: 4px;
  font-size: 80px;
  margin-top: -60px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.about-subheading {
  font-family: "Poppins", sans-serif !important;
  color: black;
  font-weight: bold;
  margin: 10px 0;
  line-height: 2;
}

.about-info {
  font-family: "Roboto Mono" !important;
  font-size: 15px !important;
  color: grey;
}
.visi-misi {
  background-color: black;
  padding: 20px 0;
}
.visi-subheading {
  font-family: "Poppins", sans-serif !important;
  color: white;
  font-weight: bold;
  margin: 10px 0;
}

.visi-info {
  font-family: "Roboto Mono" !important;
  font-size: 15px !important;
  color: grey;
}
.visi-info p {
  font-family: "Roboto Mono" !important;
  font-size: 15px !important;
  color: grey;
}
.visi {
  margin: 40px 0;
}
.misi {
  margin: 40px 0;
}
.no {
  font-family: "Poppins", sans-serif !important;
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin: 20px 0;
}
.visi-heading {
  margin-top: 40px;
}
.visi-heading h1 {
  font-size: 60px;
  color: white;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: grey;
  letter-spacing: 2px;
}

.misi-heading h1 {
  font-size: 60px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: grey;
  letter-spacing: 2px;
  letter-spacing: 2px;
}
@media (min-width: 900px) {
  .about-img img {
    width: 500px;
  }
  .visi-heading {
    text-align: center;
  }
  .misi-heading {
    text-align: center;
    margin: 120px 0;
  }

  .visi-heading h1 {
    font-size: 120px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: grey;
    letter-spacing: 2px;
    letter-spacing: 2px;
    transform: rotate(90deg);
    border-bottom: 3px solid #4588d5;
  }
  .misi-heading h1 {
    font-size: 120px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: grey;
    letter-spacing: 2px;
    letter-spacing: 2px;
    transform: rotate(-90deg);
    border-bottom: 3px solid #4588d5;
  }
}
/* about end */
/* team */
.team {
  margin: 40px 0;
}
.team-heading h1 {
  font-size: 60px;
  letter-spacing: 2px;
}
.team-heading p {
  margin-top: 20px;
  font-family: "Roboto Mono" !important;
  font-size: 15px !important;
  color: grey;
}
.team-slider {
  margin-top: 20px;
}

.info-area h4 {
  font-family: "Poppins", sans-serif !important;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 20px;
}
.info-area h6 {
  margin-top: 10px;
  font-family: "Poppins", sans-serif !important;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 15px;
  color: grey;
}
.info-area p {
  font-family: "Roboto Mono" !important;
  font-size: 12px !important;
  color: grey;
}
@media (min-width: 900px) {
  .team-heading h1 {
    font-size: 120px;
    -webkit-text-stroke: 1px #000;
    letter-spacing: 2px;
  }
  .about-heading h1 {
    position: absolute;
    letter-spacing: 4px;
    font-size: 120px;
    margin-top: -85px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }
  .team-heading p {
    margin-left: 120px;
    margin-right: 120px;
  }
  .single-box {
    width: 380px;
  }
  .info-area h4 {
    font-family: "Poppins", sans-serif !important;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 26px;
  }
  .info-area h6 {
    margin-top: 10px;
    font-family: "Poppins", sans-serif !important;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 20px;
    color: grey;
  }
  .info-area p {
    font-family: "Roboto Mono" !important;
    font-size: 15px !important;
    color: grey;
  }
}

/* team end */
/*  */
.project-heading h1 {
  font-size: 60px;
  color: white;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: grey;
  letter-spacing: 2px;
}
.project__item {
  position: relative;
  padding: 0 6vw;
}
.project__item a {
  text-decoration: none;
  color: white;
}

.project__item-link {
  display: inline-block;
  cursor: pointer;
  position: relative;
  transition: opacity 0.4s;
}
.project__item-link::before {
  all: initial;
  counter-increment: menu;
  position: absolute;
  bottom: 60%;
  left: 0;
  pointer-events: none;
}

.project__item-link:hover {
  transition-duration: 0.1s;
  opacity: 0;
}

.project__item-img {
  pointer-events: none;
  position: absolute;
  height: 50vh;
  max-height: 200px;
  opacity: 0;
  left: 100%;
  top: 50%;
  transform: translate3d(calc(-100% - 6vw), -30%, 0) translate3d(0, 20px, 0);
}

.project__item-link:hover + .project__item-img {
  opacity: 1;
  transform: translate3d(calc(-100% - 6vw), -30%, 0) rotate3d(0, 0, 1, 4deg);
  transition: all 0.4s;
}

.project {
  background-color: black;
  padding: 10vh 0 19vh;
  --offset: 1vw;
  --move-initial: calc(-5% + var(--offset));
  --move-final: calc(-15% + var(--offset));
  font-size: 7vw;
  line-height: 2;
}

.marquee {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #fff;
  pointer-events: none;
  mix-blend-mode: difference;
}

.marquee__inner {
  width: fit-content;
  display: flex;
  position: relative;
  animation: marquee 5s linear infinite;
  animation-play-state: paused;
  opacity: 0;
  transition: opacity 0.1s;
}

.project__item-link:hover ~ .marquee .marquee__inner {
  /* animation-play-state: running; */
  opacity: 1;
  transition-duration: 0.4s;
}

.project__item-link,
.marquee span {
  white-space: nowrap;
  font-size: 7vw;
  padding: 0 1vw;
  font-weight: 900;
  line-height: 1.15;
}

.marquee span {
  font-style: italic;
}

@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}
@media (min-width: 900px) {
  .project {
    background-color: black;
    padding: 10vh 0 25vh;
    --offset: 1vw;
    --move-initial: calc(-5% + var(--offset));
    --move-final: calc(-15% + var(--offset));
    font-size: 80px !important;
    /* font-size: 120px; */
    line-height: 2;
  }

  .project__item-img {
    pointer-events: none;
    position: absolute;
    height: 50vh;
    max-height: 400px;
    opacity: 0;
    left: 100%;
    top: 50%;
    transform: translate3d(calc(-100% - 6vw), -30%, 0) translate3d(0, 20px, 0);
  }
  .project__item-link,
  .marquee span {
    white-space: nowrap;
    font-size: 80px !important;
    padding: 0 1vw;
    font-weight: 900;
    line-height: 1.15;
  }
  .project-heading h1 {
    position: absolute;
    top: 66%;
    text-align: center;
    font-size: 120px;
    color: white;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: grey;
    letter-spacing: 2px;
    transform: rotate(-90deg);
    margin-left: -120px;
    border-bottom: 3px solid #4588d5;
  }
}
/*  */
/* news */
.berita {
  margin: 40px 0;
}
.berita-heading h1 {
  font-size: 60px;
  letter-spacing: 2px;
}
.berita-text p {
  font-family: "Roboto Mono" !important;
  font-size: 15px !important;
  color: grey;
}
.info-berita h4 {
  margin-top: 20px;
  font-family: "Poppins", sans-serif !important;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 15px;
}
.info-berita p {
  font-family: "Roboto Mono" !important;
  font-size: 15px !important;
  color: grey;
}
.info-berita a {
  font-family: "Roboto Mono" !important;
  font-size: 15px !important;
  text-decoration: none;
  color: #4588d5;
}
/* .owl-theme .owl-dots .owl-dot span{
    background-color: #000 !important;
} */
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #4588d5 !important;
}
@media (min-width: 900px) {
  .berita-heading h1 {
    font-size: 120px;
    letter-spacing: 2px;
  }
}
/* news end */

/* footer */
.footer {
  background: #161616;
}

.footer .container {
  padding: 40px 0;
}

.footer li,
h4 {
  font-size: 24px !important;
}

.footer h1 {
  color: #fff;
}

.footer p {
  font-family: "Roboto Mono" !important;
  font-size: 15px !important;
  color: grey;
}
.footer a {
  text-decoration: none;
  font-family: "Roboto Mono" !important;
  font-size: 15px !important;
  color: grey;
}
.footer a:hover {
  color: #fff !important;
}

.hr-footer {
  color: grey;
}
@media (max-width: 900px) {
  .footer .container {
    width: 92% !important;
  }
}
/* footer end */
/* aspirasi */
.aspirasi {
  margin: 60px 0;
}
.aspirasi-heading h1 {
  font-size: 120px;
  -webkit-text-stroke: 1px #000;
  letter-spacing: 2px;
}
.aspirasi-text h6 {
  margin-top: 20px;
  font-family: "Poppins", sans-serif !important;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 20px;
}
.aspirasi-text p {
  font-family: "Roboto Mono" !important;
  font-size: 15px !important;
  color: grey;
}
.aspirasi-text ol li {
  font-family: "Roboto Mono" !important;
  font-size: 15px !important;
  color: grey;
}
#contact-form {
  margin: 5% 0;
}

.contact .icon-title {
  margin-top: 10px;
  color: #000;
}

#contact-form ul {
  list-style: none;
  margin-bottom: 40px;
  border-radius: 0;
}

#contact-form li:last-of-type {
  border-bottom: none;
}

#contact-form label {
  display: block;
  font-family: "Poppins", sans-serif !important;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 20px;
  color: rgb(97, 97, 97);
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 5px;
  border: none;
  resize: vertical;
  background: transparent;
  color: #101010;
  font-family: "Roboto Mono" !important;
  font-size: 15px !important;
  color: grey;
}
#contact-form select {
  width: 100%;
  padding: 5px;
  border: none;
  resize: vertical;
  color: #101010;
  font-family: "Roboto Mono" !important;
  font-size: 15px !important;
  color: grey;
}
input:focus {
  outline: none !important;
  border: none !important;
}
select:focus {
  outline: none !important;
  border: none !important;
  -webkit-box-shadow: none !important;
}
textarea:focus {
  outline: none !important;
  border: none !important;
}

.textarea {
  border-bottom: 1px solid #c9c9c9;
}

@media (max-width: 900px) {
  #contact-form {
    margin: 5% 0;
    width: 98%;
  }
}
/* aspirasi end */
/* ormawa */
.ormawa {
  margin: 40px 0;
}
.ormawa-card {
  width: 300px;
  height: 400px;
  margin: 50px 0;
}

.info-ormawa {
  margin-top: 20px;
}
.info-ormawa h4 {
  margin-top: 20px;
  font-family: "Poppins", sans-serif !important;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 20px;
}
.info-ormawa p {
  font-family: "Roboto Mono" !important;
  font-size: 15px !important;
  color: grey;
}
.info-ormawa a {
  text-decoration: none;
  cursor: pointer;
  font-family: "Roboto Mono" !important;
  font-size: 15px !important;
}
.modal-header {
  border: none !important;
}
.img-detail img {
  border: none !important;
}
.ormawa-info {
  margin: 30px 0;
}
.ormawa-info h6 {
  font-family: "Poppins", sans-serif !important;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 25px;
}
.ormawa-info h4 {
  font-family: "Poppins", sans-serif !important;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 15px !important;
  color: grey;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.ormawa-info p {
  font-family: "Roboto Mono" !important;
  font-size: 15px !important;
  color: grey;
}
.ormawa-deskripsi h1 {
  font-family: "Poppins", sans-serif !important;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 40px;
}
.ormawa-deskripsi p {
  font-family: "Roboto Mono" !important;
  font-size: 15px !important;
  color: grey;
}
.sosial-media h1 {
  font-family: "Poppins", sans-serif !important;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 30px;
}
.contact-person h1 {
  font-family: "Poppins", sans-serif !important;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 30px;
}
.sosial-ormawa {
  width: 50%;
  border-bottom: 2px solid black;
  margin: 20px 0;
}
.link-social {
  font-family: "Roboto Mono" !important;
  text-decoration: none !important;
  color: black;
  font-size: 20px;
}
.btn-close {
  -webkit-box-shadow: none !important;
}
@media (min-width: 900px) {
  .ormawa-deskripsi {
    margin: 30px 0;
  }
}
/* ormawa end */
/* faq */
.faq {
  margin: 60px;
}
/* .accordion-body{
    font-family: 'Roboto Mono'!important;
} */
.accordion-item {
  z-index: 0;
}
.accordion-item button {
  -webkit-box-shadow: none !important;
}
/* faq end */
